<div class= "container">
  <header class= "jumbotron">
    <h1>mkdir forum</h1>
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'faq'}}FAQ{{/link-to}}
    {{#link-to 'admin'}}Admin{{/link-to}}
    {{#link-to 'index'}}Home{{/link-to}}
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
