<h1>Welcome to our Forum</h1>
{{new-question saveQuestion="saveQuestion"}}

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}


<h2> All Answers </h2>

<ul>
  {{#each model.comment as |comment|}}
    <li>{{comment.username}}</li>
  {{/each}}
</ul>
